<header>

  <div id="header-signup">
    <% if current_user %>
    <%= link_to "Log Out" %>
    <% end %>
  </div>
</header>

<body>
  <div id="wrapper">
    <header class="grid-container" id="page_header" role="header">
      <div class="grid-container" id="header-container"> 
        <a href="/"></a>
      </div>
    </header>

<div id="wrapper">
    <header class="grid-container" id="page_header" role="header">
      <%= render 'static_pages/main_nav' %>
    </header>



<div>
<p>Pick a Restaurant =====></p>
<%= link_to "Platable"%>
<p>
<%= link_to "Ono Burrito"%>
</p>
</div>


<div>
<p>Build a meal</p>
<p> "Choose from many restaurants!"</p>
<p>Order your meal</p>
<p> "Your Order Will be Ready ASAP!!" </p>
</div>
<div id="food-types">
  <%= link_to "Bars" %>
  </div>







