<div>
  
<div class="jumbotron">
<h1>Hungry? </h1>
  <p class="">We offer online food ordering all over the country, any time. </p>
</div>

<ul class="food-types">
  <li>
    <img src="/images/icons/american.png" class="centered-icon">
    <h2>American</h2>
  </li>
  <li>
    <img src="/images/icons/asian.png" class="centered-icon">
    <h2>Asian</h2>
  </li>
  <li>
    <img src="/images/icons/beverages.png" class="centered-icon">
    <h2>Beverages</h2>
  </li>
  <li>
    <img src="/images/icons/mexican.png" class="centered-icon">
    <h2>Mexican</h2>
  </li>
  <li>
    <img src="/images/icons/organic.png" class="centered-icon">
    <h2>Organic</h2>
  </li>
  <li>
    <img src="/images/icons/vegan.png" class="centered-icon">
    <h2>Vegan</h2>
  </li>
</ul>



  <h3>American</h3>
  <% @restaurants.food_style("american").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

<% end %>

<h3>Asian</h3>
  <% @restaurants.food_style("asian").each do |restaurant| %> 
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>
    <% end %>


<h3>Beverages</h3>
  <% @restaurants.food_style("beverages").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>
    <% end %>


<h3>Organic</h3>
  <% @restaurants.food_style("organic").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

    <% end %>


<h3>Pizza</h3>
  <% @restaurants.food_style("pizza").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

    <% end %>

<h3>Vegan</h3>
  <% @restaurants.food_style("vegan").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>
    <% end %>


<%= paginate @restaurants%>

</div>










