<div>
  <h1>Hungry? Order from one of these restaurants</h1>
  <table id="homepage">
    <tr>
      <td>

  <h3>American</h3>
  <% @restaurants.food_style("american").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

<% end %>
</td>
<td>
<h3>Asian</h3>
  <% @restaurants.food_style("asian").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

    <% end %>
  </td>
  <td>

<h3>Beverages</h3>
  <% @restaurants.food_style("beverages").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

<% end %>
</td></tr>
<tr>
  <td>

<h3>Organic</h3>
  <% @restaurants.food_style("organic").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

    <% end %>
  </td>
  <td>

<h3>Pizza</h3>
  <% @restaurants.food_style("pizza").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

    <% end %>
  </td>
  <td>


<h3>Vegan</h3>
  <% @restaurants.food_style("vegan").each do |restaurant| %>
   
    <p class="listing restaurant-<%= restaurant.id %>"> 
      <%= link_to restaurant.name, restaurant_path(restaurant)%> 
    </h3>

<% end %>
</td>


</tr>
</table>

</div>










