<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, your Craveyard order is on the way</h1>

    <p>You card has been charged $<%= @order.subtotal %>0</p>

<p>Your scrumptious delivery contains:</p>
    <% @order.order_items.each do |oi| %>
    <p> <%= oi.quantity %> of <strong> <%= oi.item.title %></strong> at $<%= oi.item.price %>0 each </p>
    <% end %>


    <p>You can find a copy of your order <%= link_to "here", @url %> </p>

      
  </body>
</html>
