<div class="checkout-container">
  <div class="order">
    <% @items.each do |item| %>
      <h4><span class="glyphicon glyphicon-cutlery"></span><%= item.title %></h4>
      <p><%= item.description %></p>
      <p><%= print_price(item.price) %>
    <% end %>
  </div>
</div>

<div class="total">
  <h4>Order Total</h4>
  <h4>$<%= @order.subtotal %>0</h4>
</div>

<h4>Placed At:</h4><h3><%= @order.updated_at %></h3>
