<%= form_for :order_detail, url: charges_path, html: {id: "guest-order"} do |f| %>

<h3 class="main-heading">Finish Your Order</h3>

<table>
  <tr>
    <td>
      <h3>Order Overview</h3>
      <div class="user_order">
  <div class="checkout-container">
    <div class="order">
      <% @items.each do |item| %>
        <h4><span class="glyphicon glyphicon-cutlery"></span><%= item.title %></h4>
        <p><%= item.description %></p>
        <p><%= print_price(item.price) %>
      <% end %>
    </div>
  </div> <h4>Order Total: $<%= @order.subtotal_per_restaurant(@order_items) %>0</h4>
</div>
    </td>
    <td>
      <h3>Customer Details</h3>
<fieldset name="billing-details">
	<p>
		<%= f.label(:first_name, "First Name") %>
		<%= f.text_field(:first_name) %>
	</p>

	<p>
		<%= f.label(:last_name, "Last Name") %>
		<%= f.text_field(:last_name) %>
	</p> 

	<p>
		<%= f.label(:email, "Email") %>
		<%= f.text_field(:email) %>
	</p>

	<p>
		<%= f.label(:phone, "Phone Number") %>
		<%= f.text_field(:phone) %>
	</p>

</fieldset>
    </td>
		<td>

			<h3>Delivery Address</h3>
			<fieldset id="delivery-address">
				<p>
					<%= f.label(:delivery_street, "Street Address") %>
					<%= f.text_field(:delivery_street) %>
				</p>

				<p> 
					<%= f.label(:delivery_address_2, "Address Line 2") %>
					<%= f.text_field(:delivery_address_2) %>
				</p>

				<p>
					<%= f.label(:delivery_city, "City") %>
					<%= f.text_field(:delivery_city) %>
				</p>

				<p>
					<%= f.label(:delivery_state, "State") %>
					<%= f.text_field(:delivery_state) %>
				</p>

				<p>
					<%= f.label(:delivery_zip, "Zip") %>
					<%= f.text_field(:delivery_zip) %>
				</p>


			</fieldset>

		</td>
	</tr>
</table>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Your Order"
          data-amount="<%= @amount %>"></script>
<% end %>
