<div id="orders">
  <% @orders.each do |order| %>
    <% items = order.items %>
    <h1><%= order.id %></h1>
    <% items.each do |item| %>
      <h3><%= item.title %></h3>
      <p><%= item.description %></p>
      <p><%= print_price(item.price) %></p>
      <% item.categories.each do |category| %>
          <p><%= category.name %></p>
      <% end %>
    <% end %>
    <p><%= order.status %></p>
  <% end %>

</div>
