<%= form_for(@visitor_user) do |f| %>
  <% if @visitor_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor_user.errors.count, "error") %> prohibited this visitor_user from being saved:</h2>

      <ul>
      <% @visitor_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
