<h3>Required Details</h3>
<%= form_for @restaurant do |rest_form| %>
    <p>
      <%= rest_form.label :name %>
      <%= rest_form.text_field :name %>
    </p>
      <p>
      <%= rest_form.label :url_slug %>
      <%= rest_form.text_field :url_slug %>
    </p>
      <p>
      <%= rest_form.label :food_type %>
      <%= rest_form.text_field :food_type %>
    </p> 
    <br>
    <h3>Additional Details</h3>
  <%= rest_form.fields_for @restaurant_detail do |f| %>
      <p>
        <%= f.label :phone, "Phone" %>
        <%= f.text_field :phone %>
      </p>
      <p>
        <%= f.label :street, "Street Address" %>
        <%= f.text_field :street %>
      </p>
      <p>
        <%= f.label :street2, "Street Address Continued" %>
        <%= f.text_field :street2 %>
      </p>
      <p>
        <%= f.label :city, "City" %>
        <%= f.text_field :city %>
      </p>
      <p>
        <%= f.label :state, "State" %>
        <%= f.text_field :state %>
      </p>
      <p>
      <%= f.label :zip, "Zipcode" %> 
      <%= f.text_field :zip %>
      </p>
      <p>
        <%= f.label :description, "Description" %>
        <%= f.text_field :description %>
      </p>
    <p>
        <%= f.label :delivery, "Do You Deliver?" %> 
        <%= f.check_box :delivery %>
    </p>
    <p>
      <%= f.label :delivery_range, "Delivery Range (in miles)" %>
      <%= f.text_field :delivery_range %>
    </p>
  <% end %>
  <p>
    <br>
  <%= rest_form.submit "Apply for Restaurant Approval", :class => "btn btn-success" %>
  </p>
<% end %>
