<%= form_for(@restaurant) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
    <p>
    <%= f.label :url_slug %>
    <%= f.text_field :url_slug %>
  </p>
    <p>
    <%= f.label :food_type %>
    <%= f.text_field :food_type %>
  </p> 
  <p>
  <%= f.submit "Apply for Restaurant Approval", :class => "btn btn-success" %>
  </p>
<% end %>
