<%= form_for @restaurant do |f| %>
<fieldset>
  <td>
    <tr>
<p>
<%= f.label      :name %>
<%= f.text_field :name %>
</p>
<p>  
<%= f.label :food_type %>
<%= f.text_field :food_type %>
</p>
</td>
</tr>

<%= f.submit :class => "btn-primary btn-large" %>
<% end %>
</fieldset>
