<h1><%= @restaurant.name %></h1>
<% if @restaurant.restaurant_employees.count > 1 %>
  <% @restaurant.restaurant_employees.each do |emp| %>
  <% if emp.user %>
    <div class="employee<%= emp.user.username %>" >
      <%= emp.user.username %> 
      <%= link_to 'Fire', emp, :class => "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <% end %>
<% end %>

<%= @restaurant.order_restaurants.count %>

<h3> Edit Details </h3>
<%= render partial: 'small_form' %>

<h3> Hire Employees </h3>
<%= render partial: "employee_form" %>

<div class="menu-items">
  <h3>Menu Items</h3>
  <a id="menu-items"></a>
  <%= link_to "Create New Menu Item", new_item_path, {:class => "btn btn-success create-new-item"} %>
  <br>
  <br>
  <table>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.title, item_path(item.id) %></td>
      <td><%= link_to "Edit", edit_item_path(item.id), {:class => "btn btn-warning edit-item" } %></td>
      <td></td>
    </tr>
  <% end %>
  </table>
</div>
