<h1><%= link_to @restaurant.name, restaurant_path(@restaurant) %></h1>
<hr>

<h3> Edit Details </h3>
<%= render partial: 'small_form' %>
<hr>

 <h3>Current Employees</h3>
<% if @restaurant.restaurant_employees.count > 1 %>
  <% @restaurant.restaurant_employees.each do |emp| %>
  <% if emp.user %>
    <div class="employee<%= emp.user.username %>" >
      <%= emp.user.username %> 
      <%= link_to 'Fire', emp, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to fire this person??' } %>
    </div>
  <% end %>
  <% end %>
<% end %>

<h3> Hire Employees </h3>
<%= render partial: "employee_form" %>

<hr>

<div class="menu-items">
  <h3>Menu Items</h3>
  <a id="menu-items"></a>
  <%= link_to "Create New Menu Item", new_item_path, {:class => "btn btn-success create-new-item"} %>
  <br>
  <br>
  <table>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.title, item_path(item.id) %></td>
      <td><%= link_to "Edit", edit_item_path(item.id), {:class => "btn btn-warning edit-item" } %></td>
      <td></td>
    </tr>
  <% end %>
  </table>
  <hr>
  <%= render partial: 'restaurant_orders' %>
</div>
