<%= form_for(@item, html: {multipart: true}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <br>
  <h4>Select a Category</h4>
  <% @categories.each do |category| %>
    <p class="category-checkbox">
    <%= check_box_tag "item[category][#{category.id}]", category.id, @item.categories.include?(category) %>
    <%= f.label category.name %>
    </p>
  <% end %>
  <br>
  <h4>Select a Restaurant</h4>
    <p class="restaurant-checkbox">
    <%= f.collection_select :restaurant_id, @restaurants, :id, :name  %>
    <%= f.label "Restaurant" %>
    </p>
  <br>
  <h4>Is this menu item active?</h4>
  <p class="active-checkbox">  <%= f.check_box :active %>
   <%= f.label :active, "Yes" %>
  </p>
  <br>
  <p>
    <% if @item.image.exists? %>
      <%= image_tag @item.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach an Image", :class => "item-image-label" %>
    <%= f.file_field :image, :class => "btn btn-default" %>
  </p>
  <p>
  <%= f.submit @item.new_record? ? "Add Item" : "Update item", :class => "btn btn-success" %>
  </p>
<% end %>
