<%= form_for(@item, html: {multipart: true}) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <% @categories.each do |category| %>
    <p>
    <%= check_box_tag "item[category][]", category.id %>
    <%= f.label category.name %>
    </p>
  <% end %>
  <p>
    <% if @item.image.exists? %>
      <%= image_tag @item.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach an Image" %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit "submit" %>
  </p>
<% end %>
