<div class="select-menu">
	<%= form_tag("/", method: "get", class:"select-category") do %>
  <% if @category %>
    <%= select_tag "Categories", options_from_collection_for_select(@categories, "id", "name", @category.id), {:class => "btn btn-default dropdown-toggle" }%>
  <% else %>
    <%= select_tag "Categories", options_from_collection_for_select(@categories, "id", "name"), {:class => "btn btn-default dropdown-toggle" }%>
  <% end %>
    <%= submit_tag "Browse by Category", {:class => "btn btn-info"} %>
	<% end %>	
    <%= link_to "View All", items_path, {:class => "btn btn-info view-all"} %>
</div>

<div id="items">
	<ul>
	  <% @items.each do |item| %>
	  <li id="item_<%= item.id %>" class="item">
    <div class="item-wrapper">
    <% if item.image.exists? %>
      <%= image_tag item.image.url(:small), {:class => "item-show-image"} %><br/>
    <% end %>
    <div class="item-details">
      <a href="<%= item_path item.id %>" class="title"><%= item.title %></a>
       <p> <%= item.description %></p>
	     <p><%=print_price(item.price) %></p>
       <ul class="categories">
         <li class="glyphicon glyphicon-tag category"></li>
	       <% item.categories.each do |category| %>
         <li class="category"><%= category.name %></li>
     	    <% end %>
        </ul>
        <%= button_to "Add to Order", add_item_path(item.id), {:class => "btn btn-success" } %>
    </div>
    </div>
	  </li>
	  <% end %>
	</ul>
</div>

