<div id="items">
	<%= form_tag("/", method: "get") do %>
		<%= select_tag("Categories", options_from_collection_for_select(@categories, "id", "name"))%>
		<%= submit_tag("Update Categories")%>
	<% end %>	

	<ul>
	  <% @items.each do |item| %>
	  <li id="item_<%= item.id %>">
    <p><a href="<%= item_path item.id %>"><%= item.title %></a>
      <br>
      <%= item.description %></p>
	    <p><%=print_price(item.price) %></p>
	    <% item.categories.each do |category| %>
     	 <p><%= category.name %></p>
     	<% end %>
	    <% if @order %>
        <%= button_to "Add to Order", add_item_path(item.id), {:class => "btn btn-success" } %>
        <%= link_to "Add to Cart", add_item_path(item.id), {method: 'post'} %>
	    <% else %>
		    <%= link_to "Add to Cart", new_order_path(:item_id => item.id) %>
		<% end %>
	  </li>
	  <% end %>
	</ul>
</div>

