<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dinner Dash" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dinner Dash" %>">
     <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
   <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
              <% if current_user %>
                <%= link_to "Logout", logout_path %>
              <% else %>
                <%= link_to "Login", login_path %>
              <% end %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
