<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Craveyard" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Craveyard" %>">
     <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
   <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
          <a href="/" class="logo"><img src="/images/platable.png"></a>
          <div class="controls">
            <% if cookies[:order_id] %>
              <% if @order %>
                <%= link_to "My Order (#{@order.total_items})", order_path(cookies[:order_id]), {:class => "btn btn-success"} %>
              <% end %>
            <% end %>
            <% if current_user %>
            <%= link_to "My Account", user_path(current_user), {:class => "btn btn-info"} %>
              <%= link_to "Logout", logout_path, {:class => "btn btn-warning"} %>
            <% else %>
              <%= link_to "Login", login_path, {:class => "btn btn-primary login"} %>
              <%= link_to "Sign Up", new_user_path, {:class => "btn btn-primary sign-up"} %>
            <% end %>
          </div>
        <div class="container">
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
            <div class="container">
              <p>Craveyard. An open-source food ordering service built by gSchool class[1]</p>
              <p>Romeeka Gayhart, Persa Zula, &amp; Tyler Long</p>
            </div>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
